#buttons{
  font-size: 0;
  width: 100%;
  height: 300px;
  background-color: gray;
  color: green;
}

#butt{
  color:green; 
  height: 100%;
  width:2%;
}

#butt2{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -3%;
  background-color:black;
}

#butt3{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -7%;
  background-color:black;
}

#butt4{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -11%;
  background-color:black;
}

#butt5{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -17%;
  background-color:black;
}

#butt6{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -21%;
  background-color:black;
}

#butt7{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -27%;
  background-color:black;
}

#butt8{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -31%;
  background-color:black;
}

#butt9{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -35%;
  background-color:black;
}

#butt10{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -41%;
  background-color:black;
}

#butt11{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -45%;
  background-color:black;
}

#butt12{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -51%;
  background-color:black;
}

#butt13{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -55%;
  background-color:black;
}

#butt14{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -59%;
  background-color:black;
}

#butt15{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -65%;
  background-color:black;
}

#butt16{
  height:80%;
  width:2%;
  vertical-align: top;
  position: relative;
  left: -69%;
  background-color:black;
}